@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Playfair';
    src: url(../fonts/playfairDisplay/PlayfairDisplay-Bold.otf);
}

body {
	margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#app {
  display: grid;
  /* Display as a Grid */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  /*grid-gap: 10px;*/
}

.slide-enter {}
.slide-enter-active{}
.slide-leave-active {}
.slide-leave-to {}

.slide {
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0;
	transition: all 600ms ease-in-out;
}

.active {
	opacity: 1;
}

.slide > div {
/*	margin-left: auto;
	color: white;
	text-align: right;
	padding-right: 50px;
	padding-top: 200px;
	opacity: 1;*/
}
.slide h1 {
	font-size: 5em;
	margin-bottom: 15px;
	color: white;
	font-family: 'Playfair', serif;
  transform: scale(1.2,1);
  transform-origin: right;
}

.slide p{
font-family: 'Roboto', sans-serif;
transform: scale(1.2,1);
transform-origin: right;
	font-size: 1.5em;
}

.slider {
	position: relative;
	grid-area: header;
	display: flex;
	height: 100vh;
	width: auto;
}

.pagination {
	grid-area: footer;
	width: 100%;
  	height: 21.58vh;
	grid-template-columns: repeat(6, 1fr);
	position: fixed;
	bottom: 1rem;
	/* left: 50%; */
	/* transform: translateX(-50%); */
	display: grid;
	bottom: 0;
}
.nonActive{
  background-color: #464646;

}
.mainBtn{
	background-color: #464646;
	border-right: 1px solid #b7b7b7;
	/* width: 20vw; */
}

.iconMain{
	  width: 100%;
		height: 8vh;
		margin-top: 14%;
	  /* margin-top: 16%;
	  margin-left: auto;
		margin-right: auto; */
	}

	.iconMain img{
	  image-rendering: -webkit-optimize-contrast;
	  /* height: 18%; */
		height: 6vh;
		display: block;
		 margin-left: auto;
		 margin-right: auto;
	}


	 h2{
		 width: 100%;
		 font-family: 'Roboto-Thin', sans-serif;
		 color: white;
		 margin-top: 6%;
		font-size: 1.5vw;
		transform: scale(1.2, 1);
		transform-origin: center;
text-align: center;
	}

.slide-number {
	cursor: pointer;
	background: #464646;
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
	border: solid #aaaaaa;
	border-width: 0 1px;
	padding: 25px;
}

.slide-number.mainIcon-active > span {
	align-items: center;
	justify-content: center;
}

.sliderclip {
	overflow: hidden;
  background: url(../images/reactr_bck.png) ;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin-top: -1%;
}


.sliderclip h1 {

  width: 100vw;
  text-align: right;
	font-size: 5vw;
	color: white;
	font-family: 'PlayfairDisplay-Bold';
  transform: scale(1.2,1);
  transform-origin: right;
  /* margin-top: 8vh; */
  padding-right: 2%;
	position: absolute;
	bottom: 35vh;

  /* letter-spacing: -2px; */
}

.sliderclip h3{
  width: 100vw;
  text-align: right;
  font-size: 1.5vw;
  color: white;
  font-family: 'Roboto';
  transform: scale(1.2,1);
  transform-origin: right;
  /* margin-top: 8vh; */
  padding-right: 2%;
  position: absolute;
  bottom: 30vh;
}

/* #mainBtn1:active  {
	background-color: #15cecf;
} */



#navTitle {
	padding-top: 20%;
font-family: 'Roboto', sans-serif;
	font-size: 21px;
	display: block;
  transform: scale(1.2,1);
}

#navIcon {
	/*padding-top: 30%;*/
	width: auto;
	height: 50px;
  image-rendering: -webkit-optimize-contrast;
}

video {
	height: auto;
	width: 100%;
}

#dash-text {
	opacity: 1;
	/*right: 10%;*/
	/*transform: translateX(-10%);*/
	width: 100%;
	color: white;
	text-align: right;
	position: absolute;
	right: 0;
	padding-right: 50px;
	bottom: 35%;
}

@media screen and (min-width: 65em) {

#dash-text {
	/*bottom: 35%;*/
}

#navIcon {
	/*width: 20%;*/
}

.slide-number {
	padding: 50px;
}

}

a{
  text-decoration: none;
  color: inherit;
  background: inherit;
}

@media screen and (max-width:1440px)
{
.iconMain{
  margin-top: 35%;
}
.iconMain img{
height: 5vh;
}
.iconMain h2{
  font-size: 2.5vw;
}
h2{
  font-size: 2.5vw;
}
}

@media screen and (max-width:769px)
{
.iconMain{
  margin-top: 60%;
  height: 7vh;
}
.iconMain img{
  height: 4vh;
}

.iconMain h2{
  font-size: 2.5vw;
}

h2{
  font-size: 2.5vw;
}
}
